body {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.app {
    width: 100%;
    height: 100%;
}

button {
    font-size: 1.5rem;
    padding: 25px;
    min-width: 15rem;
}

p {
    font-size: 1.5rem;
}

button:hover {
    cursor:pointer;
}

.center-content-div {
    display: flex;
    justify-content: center;
}

#title-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}

#joke-options-div {
    margin: 25px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
}

.joke-option-div {
    display: flex;
    min-width: 10rem;
    max-width: 10rem;
    min-height: 15rem;
    gap: 25px;
    flex-direction: column;
    align-items: center;
    border: 5px solid black;
    padding: 25px;
    border-radius: 15px;
}

.joke-option-title {
    font-size: 1.5rem;
}

.joke-option-content {
    font-size: 1.5rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#controls-div {
    display: flex;
    gap: 25px;
}